<div class="form-group">
  <label for="title">Title</label>
  <input
    required
    value="<%= article.title %>"
    type="text"
    name="title"
    id="title"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control">
<%= article.description %></textarea
  >
</div>

<div class="form-group">
  <label for="category">Danh mục</label>
  <select class="form-control" id="categorySelect" name="category">
    <option disabled selected>Chọn danh mục</option>
    <% categories.forEach(category => { %>
    <option <% if (article.title) { %>
      selected <% } %> ><%= category.title %></option
    >
    <% }) %>
  </select>
</div>

<div class="form-group">
  <label for="markdown">Markdown</label>
  <textarea
    name="markdown"
    id="markdown"
    class="form-control"
    cols="30"
    rows="20"
  >
<%= article.markdown %></textarea
  >
</div>

<a href="/users/articles" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
